<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Find Best Restaurant To Get Rid Your Hunger">
  <meta name="theme-color" content="#000">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="manifest.json">
  <link rel="icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9956b81776.js" crossorigin="anonymous"></script>
  <title>Mangeons</title>
</head>
<body>
  <a href="#main-content" class="skip-link">Menuju ke konten utama</a>
  <header>
    <nav class="nav">
      <div class="nav__brand">
        <a href="" aria-label="Brand, Mangeons.">Mangeons</a>
      </div>
      <button class="nav__mobile-toggle" id="mobile-menu" tabindex="0" aria-label="Menu Navigasi.">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>
      <ul class="nav__list" id="navigation-content">
        <li class="nav__item"><a href="#/home">Home</a></li>
        <li class="nav__item"><a href="#/favourite">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/ikhsan-khoerul-a5686b1a7/" target="_blank" rel="noreferrer">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero" role="img" aria-label="Hero Section" tabindex="0">
    <div class="hero__inner" tabindex="0">
      <h1 class="hero__title">Find the best restaurant to get rid of your hunger.</h1>
      <p class="hero__tagline">Si vous avez faim, mangez-le !!, If you're hungry, eat something !!, Jika kau lapar, makanlah!!</p>
    </div>
  </div>
  <main id="main-content"></main>
  <footer>
    <p tabindex="0" aria-label="Hak Cipta Tahun 2020 Oleh Mangeon Apps">Copyright &copy; 2020 - Mangeons</p>
  </footer>
</body>
</html>
